{block content}

<svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">

    <circle cx="25" cy="15" r="12"/>
</svg>

<a href="https://editsvgcode.com/">editor</a>
<a href="https://www.w3schools.com/graphics/svg_circle.asp">docs</a>

<hr>
<h4>Possible statuses of photos in the application</h4>
<dl class="row">
    {foreach $statuses as $status}
    <dt class="col-sm-3">{$status->getName()}</dt>
    <dd class="col-sm-9">{$status->getDescription()}</dd>
    {/foreach}
</dl>
