{block content}
<h2>About</h2>

<p>This service provides a central point for herbarium specimens photos provided by Czech herbaria into the  jointly administered herbarium management system <a href="https://www.jacq.org">JACQ</a>.</p>

<h5>Main functionality (planned or already implemented):</h5>
<ul>
    <li>Image upload - collect scan images from joined herbaria, management of already uploaded files. Source code at <a href="https://github.com/krkabol/jacq-image-curator">GitHub</a> - e.g. proxy to Archive Master file - <a n:href="Iiif:archiveImage 'prc_000037.tif'" target="test">{link Iiif:archiveImage 'prc_000037.tif'}</a></li>
    <li>Image preprocessing and serve - detect barcode, check multiplicity, provide IIIF manifest for specimen ID - e.g. <a n:href="Iiif:manifest 'prc_37'" target="test">{link Iiif:manifest 'prc_000037'}</a></li>
    <li>Image server - IIIF image server service consumed by JACQ. Source code at <a href="https://github.com/krkabol/jacq-cantaloupe">GitHub</a>, e.g. <a href="https://herbarium-iiif.dyn.cloud.e-infra.cz/iiif/3/prc_000037.jp2/full/700,/0/default.jpg" target="test">https://herbarium-iiif.dyn.cloud.e-infra.cz/iiif/3/prc_000037.jp2/full/700,/0/default.jpg</a></li>
</ul>

<h5>How to join</h5>
<p>At this moment we are working on PRC herbarium workflow. When settled and working, we are open for individual Czech herbaria cooperation and will provide access and all necessary support.</p>
