parameters:
    database:
        dbname: jacq
        driver: pdo_pgsql
        port: 5432
        user: jacq
        options:
            lazy: true

    storage:
        jp2Quality: 46
        regexSpecimenPartName: 'specimenId'
        regexHerbariumPartName: 'herbarium'
        regexExtensionPartName: 'extension'
        specimenRegex: '/^(?P<herbarium>[a-zA-Z]+)_(?P<specimenId>\d+)$/'
        barcodeRegex: '/^(?P<herbarium>[a-zA-Z]+)[ _-]+(?P<specimenId>\d+)$/'
        photoRegex: '/^(?P<herbarium>[a-zA-Z]+)_(?P<specimenId>\d+)(?P<supplement>[_\-a-zA-Z]*)\.(?P<extension>tif)$/' # used only for migrations, not necessary
        imageServerBaseUrl: https://herbarium-iiif.dyn.cloud.e-infra.cz/iiif/3/
        zbarImageHeight: 3000  #px size of image used for zbar barcode recognition
        thumbImageWidth: 400  #px size of image used for manifest thumbnail
        previewImageSize: 1800 #px size of preview shown to curator on pipeline error
        previewQuality: 80 #JPEG compression of preview shown to curator on pipeline error
