parameters:
    database:
        driver: pdo_mysql
        port: 3306
    storage:
        archiveBucket: archive
        jp2Bucket: iiif
        newBucket: new
        jp2Quality: 46
        specimenRegex: '/^(?P<herbarium>[a-zA-Z]+)_(?P<specimenId>\d+)$/'
        barcodeRegex: '/^(?P<herbarium>[a-zA-Z]+)[ _-]+(?P<specimenId>\d+)$/'
        photoRegex: '/^(?P<herbarium>[a-zA-Z]+)_(?P<specimenId>\d+)(?P<supplement>[_\-a-zA-Z]*)\.(?P<extension>tif)$/'
        iiif: https://herbarium-iiif.dyn.cloud.e-infra.cz/iiif/3/
        zbarImageHeight: 2500  #px size of image used for zbar barcode recognition
        zbarThreshold: #a9a9a9
