services:
    - App\Core\RouterFactory::createRouter
    - App\Security\UserAuthenticator
    - App\Services\S3Service
    - App\Services\ImageService
    - App\Services\ReportService
    - App\Services\WebDir(%wwwDir%)
    - App\Services\TempDir(%tempDir%)
    - App\Services\StorageConfiguration(%storage%)
    - App\Services\AppConfiguration(@container::getParameters())
    - App\Services\CuratorService
    - App\Services\EntityServices\HerbariumService
    - App\Model\PhotoOfSpecimenFactory
    - App\Model\ImportStages\StageFactory
    - App\Model\IIIF\ManifestFactory

    - {factory: App\Console\ReadBucketToDatabase, tags: {console.command: app:readBucketToDb}}
    - {factory: App\Console\ProceedCuratorImage, tags: {console.command: curator:importImage}}
    - {factory: App\Console\Test, tags: {console.command: curator:test}}

    - GuzzleHttp\Client

search:
    in: %appDir%
    classes:
        - *Factory
        - *Facade
