services:
    - App\Core\RouterFactory::createRouter
    - App\Security\UserAuthenticator
    - App\Services\S3Service
    - App\Services\ImageService
    - App\Services\ReportService
    - App\Services\WebDir(%wwwDir%)
    - App\Services\TempDir(%tempDir%)
    - App\Services\RepositoryConfiguration(%storage%)
    - App\Services\AppConfiguration(@container::getParameters())
    - App\Services\EntityServices\HerbariumService
    - App\Services\EntityServices\PhotoService
    - App\Facades\CuratorFacade
    - App\Model\SpecimenFactory
    - App\Model\ImportStages\StageFactory
    - App\Model\IIIF\ManifestFactory

    - {factory: App\Console\Scheduled\ProceedCuratorImage, tags: {console.command: curator:importImage}}
    - {factory: App\Console\Admin\Test, tags: {console.command: curator:test}}
    - {factory: App\Console\Admin\BatchDownload, tags: {console.command: admin:downloadArchive}}
    - {factory: App\Console\Admin\BucketParity, tags: {console.command: admin:bucketParity}}

    - GuzzleHttp\Client

search:
    in: %appDir%
    classes:
        - *Factory
        - *Facade
