services:
    - App\Core\RouterFactory::createRouter
    - App\Security\UserAuthenticator
    - App\Services\S3Service
    - App\Services\TestService
    - App\Services\ImageService
    - App\Services\ReportService
    - App\Services\DatabaseService
    - App\Services\WebDir(%wwwDir%)
    - App\Services\TempDir(%tempDir%)
    - App\Services\StorageConfiguration(%storage%)
    - App\Services\AppConfiguration(@container::getParameters())
    - App\Model\PhotoOfSpecimenFactory
    - App\Model\ImportStages\StageFactory
    - App\Model\UpdateStages\StageFactory
    - App\Model\IIIF\ManifestFactory

    - {factory: App\Console\ReadBucketToDatabase, tags: {console.command: app:readBucketToDb}}
    - {factory: App\Console\UpdateRecords, tags: {console.command: app:updateRecords}}

    - GuzzleHttp\Client

search:
    in: %appDir%
    classes:
        - *Factory
        - *Facade
