{block content}
<h2>Management of images</h2>
<a n:href="Curator:">as a curator</a><br>
<a n:href="Sign:out">Sign out</a><hr>


<h4>Existing data migration</h4>
1. read Archive Bucket to empty db
<br>
2b. <a n:href=":proceedMigration">proceed migration</a> a pipeline for <u>already existing</u> data


<h4>links</h4>
<ul>
    <li><a href="http://localhost:8080" target="admin">PHPMyadmin</a></li>
</ul>
