# Core Config
includes:
	# Application
	- ../app/parameters.neon
	- ../app/services.neon

	# Extensions
	- ../ext/contributte.neon
	- ../ext/ublaboo.neon
	- ../ext/nettrine.neon

php:
	date.timezone: Europe/Prague

# Nette section
session:
	expiration: 14 days
	autoStart: true

latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- App\UI\Base\Accessory\LatteExtension

application:
	catchExceptions: %productionMode%
	errorPresenter:
		4xx: Base:Error:Error4xx
		5xx: Base:Error:Error5xx
	mapping:
		Admin: App\UI\Admin\**Presenter
		Front: App\UI\Front\**Presenter
		Base: App\UI\Base\**Presenter


di:
	debugger: true

aws:
	region: eu-west-1
	version: latest
	use_aws_shared_config_files: false


# to allow iiif manifest.json load
http:
    headers:
        Access-Control-Allow-Origin: *
        Access-Control-Allow-Methods: GET
    frames: true
