includes:
	- base.neon

parameters:
    environment: development
    database:
        host: curator-db
    storage:
        archiveBucket: test-archive
        jp2Bucket: test-iiif
        newBucket: herbarium-test

services:
    cache.storage: Nette\Caching\Storages\DevNullStorage
