includes:
	- base.neon

parameters:
    database:
        host: jacq-pgsql-cluster-rw
    storage:
        archiveBucket: archive
        jp2Bucket: iiif

# //TODO https://forum.nette.org/en/36020-nette-v3-redirect-http-to-https  + https://doc.nette.org/en/http/configuration#toc-http-proxy
