includes:
	- base.neon

parameters:
    database:
        dbname: test_jacq
        user: test_jacq

    storage:
        archiveBucket: test_archive
        jp2Bucket: test_iiif
        newBucket: test_new
