includes:
	- base.neon

parameters:
    database:
        dbname: test_jacq
        user: test_jacq

    storage:
        archiveBucket: test-archive
        jp2Bucket: test-iiif
        newBucket: test-new
