{block content}
<h2>JACQ image service for herbaria of the Czech Republic </h2>
<p>Part of the "Národní repositář biodiverzitních dat", funded by project "Národní repozitářová platforma pro výzkumná data (NRP)" by <a href="https://www.eosc.cz/">EOSC CZ</a> .</p>

<h4>Acknowledgment</h4>
<p>CESNET, CERIT-SC, PřF UK Praha</p>
